{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register User</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>
    {% if form.errors %}
    {% endif %}
    <div class="well col-md-6">
        <form role="form" class="form-horizontal" method="post">
            {% csrf_token %}
            <table align="center">
                {{ form.as_table }}
            </table>
            </br>
            <table align="center">
                <tr>
                    <th></th>
                    <th><button type="submit">Create User</button></th>
                    <th></th>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>